body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
 margin-left: 2vw;
 margin-right: 2vw;
 
}

.profile-image {
  width: 20%;
  height: 20%;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 100px;
  margin-top: 40px;
  margin-left: 35px;
  box-shadow:1px 1px 3px rgba(0, 0, 0, 0.539),  1px 1px 2px goldenrod;
  
 
}
.profile-image img {
  display: block;
  width: 100%;
  border-radius: 50%;

}
.cardDetails {
  width: 60%;
  padding: 16px;
  box-sizing: border-box;
}
.cardDetails h2 {
  color: rgba(15, 11, 221, 0.605);
  text-shadow: 1px 1px 2px silver , 1px 1px 3px rgb(255, 115, 1);
  margin-top: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cardDetails p {
  margin: 0 0 8px;
  font-size: 16px;
  line-height: 2;
  margin-top: -15px;
  display: flex;
  justify-content:space-evenly;
  
  
}

.cardDetails p:first-of-type {
  margin-top: 0;
}

.IdCard {
  
  background-color: rgb(53, 71, 166);
  border: 1px solid darkgray;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 16px;
  

}
.card-container {
  height: 100px;
  color: silver;
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boxcolor {
  height: 5vw;
  width: 100vw;
  border-radius: 13px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px silver;
  color: rgb(72, 71, 71);
  text-shadow: 0px 2px 2px rgb(255, 255, 255);
  padding: 10px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.stars-container {
  font-size: 30px;
  padding: 10px 0px;
  margin-bottom: 17px;
  color: gold;
  text-shadow: 1px 1px 1px silver, 1px 1px 1px black;
}
.driver-card {
  background-color: rgb(53, 71, 166);
  max-height: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
  display: block;
  border-radius: 13px;
  padding: 20px 0 20px 0 ;
  box-shadow : 5px 10px 15px 0px rgba(0, 0, 0, 0.374);
}
.driver-info h2 {
  text-shadow : 0px 0px 1px gold;
}

.driver-card img {

  height: 100%;
  width: 150px;
  background-size: cover;
  border-radius: 100px;
  box-shadow: 1px 0px 10px gray;
  margin-top: 15px;
  margin-bottom: 15px;
  filter:brightness(120%);
  
  
}

.driver-stars {
  font-size: 2rem;
  color: gold;
  /* text-shadow: 1px 1px 1px silver; */
}

.driver-info {
  color: white;
  line-height: 1px;
}